@model  PagedList.IPagedList<N_tier_solution.Models.Records>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="margin-top:15px">
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayName("Formula")
            </th>
            <th>
                @Html.DisplayName("A")
            </th>
            <th>
                @Html.DisplayName("B")
            </th>
            <th>
                @Html.DisplayName("C")
            </th>
            <th>
                @Html.DisplayName("Results")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FormulaID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.A)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.B)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Results)
                </td>
              
            </tr>
        }

    </table>

    Page @(Model.PageCount< Model.PageNumber? 0 :Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model,page =>Url.Action("Index",new { page}))
</div>

