<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    <style type="text/css">
        .login-image {
            /*width:20%;
    border-radius:90px;*/
            margin: 0px 0;
            width: 25%;
            border-radius: 50%;
            background-color: green;
        }

        .container-image {
            text-align: center;
            margin: 24px;
            clear: both;
        }

    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
